body {
    font-family: Inter, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #db2ceb, #0072ff);
}
table {
    width: 85%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
    border-radius: 12px;      
    overflow: hidden;   
}
th:first-child {
    border-top-left-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
}

th {
    background-color: #ddd;
}
h1 {
    text-align: center;
}
.btn-agregar {
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.btn-accion {
    padding: 4px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}
.btn-editar { background-color: #007BFF; }
.btn-borrar { background-color: #D9534F; }